.heroSectionWrapper {
  position: relative;
}

.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
  min-height: 94vh;
}

.heroSection .leftSide {
  width: 45%;
  z-index: 1;
}

.heroSection .rightSide {
  width: 40%;
  z-index: 1;
}

.heroSection img {
  width: 65%;
}
.bgHero {
  background-size: cover;
  width: 100%;
  height: 340px;
  position: absolute;
  bottom: 0;
  left: 0;
}

h3.formHeader {
  font-size: 4.3rem;
  margin-bottom: 10px;
  margin-top: -3px;
}

p.headerTag {
  font-size: 1.9rem;
  margin-top: 45px;
  font-weight: 300;
  word-spacing: 3px;
}

.formCard {
  box-shadow: 2px 3px 10px rgba(88, 88, 88, 0.534);
  padding: 25px 40px;
  width: 90%;
  background-color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

input {
  padding: 8px 20px;
  font-size: 1.7rem;
  width: auto;
  opacity: 0.8;
  border: 1px solid rgba(0, 0, 0, 0.788);
}
.text-muted {
  opacity: 0.5;
}

.btn {
  cursor: pointer;
  padding: 6px 30px;
  font-size: 1.7rem;
}

/* .twoCol {
  display: flex;
  justify-content: space-between;
}

.twoCol .form-group {
  width: 48%;
}

.threeCol div.form-group {
  width: 27%;
}
.threeCol .form-group:nth-child(3) {
  width: 40%;
}

.nameAgeForm div.form-group {
  width: 35%;
}*/
.nameAgeForm .form-group:nth-child(2) {
  width: 72%;
}

.rightSide div.form-group {
  width: auto;
}

.formCard p {
  color: rgb(224, 50, 50);
  font-size: 1.6rem;
  margin: 10px auto 17px;
  font-weight: 200;
}

label span {
  color: red;
  padding-top: 26px;
}
