.loginH1 {
  padding-top: 100px;
  text-align: center;
}

.login,
.signUp {
  background-color: rgb(221, 221, 221);
}

.loginContainer {
  min-height: 95vh;
}

.loginRight {
  width: 40%;
}

.loginLeft {
  width: 35%;
}

.loginLeft form,
.signUp form {
  border: 1px solid gray;
  background-color: white;
  border-radius: 4px;
  padding: 30px;
}

.formBottom {
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  border: 1px solid gray;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.formBottom p {
  font-size: 1.4rem;
}

.formBottom a {
  color: blue;
  font-weight: bold;
}

.errorMsg {
  color: red;
  margin: 20px auto;
}

.signInBtn {
  /* display: block; */
  width: 100%;
  cursor: pointer;
  margin-top: 7px;
  font-size: 1.5rem;
  background-color: blue;
  padding: 7px 20px;
  color: white;
  border: none;
}

.signInBtn.disabled {
  opacity: 0.5;
}
