.profile {
  padding-bottom: 105px;
  background-color: antiquewhite;
  min-height: 95vh;
}

.profileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 5px 20px -4px #00000030;
  padding: 33px 70px;
  border: 2px solid aliceblue;
  width: fit-content;
  margin: 35px auto 10px;
  border-radius: 7px;
}
.profile .rightSide {
  padding-left: 18px;
  border-left: 2px solid #d4c6b3;
}

.profileWrapper img {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  margin-right: 18px;
  border: 5px darkgray outset;
}

.profileWrapper p {
  font-size: 1.8rem;
  line-height: 26px;
  color: blueviolet;
}

.profileWrapper p strong {
  color: darkslateblue;
}
/* .profile h2 {
  text-align: center;
  font-size: 1.9rem;
  margin: 15px auto;
  width: fit-content;
   display: inline-block; 
  border-bottom: 2.1px solid blue;
} 

 .profile h2:after {
  content: ' ';
  display: block;
  width: 100px;
  height: 2px;
  background-color: blue;
  margin: 5px auto 0;
} */

.additionalInfo {
  /* padding: 0 20%; */
}

.additionalInfo .pageHeading {
  padding-top: 30px;
}
/*
.additionalInfo p {
  font-size: 1.5rem;
  text-align: center;
} */

.noData p {
  font-size: 1.7rem;
  margin-top: 40px;
  text-align: center;
}
.noData a {
  margin: 15px auto;
  display: block;
  padding: 10px 0;
  background-color: blueviolet;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  width: 200px;
  border-bottom: 2px solid rgb(82, 1, 158);
  border-radius: 40px;
  transition: all 0.3s;
  box-shadow: 4px 4px 18px -4px rgba(0, 0, 0, 0.295);
}

.noData a:hover {
  background-color: rgb(110, 22, 192);
}

.noData a:active {
  border-bottom-width: 1px;
  transform: translateY(2px);
}

.linksDiv {
  background-color: rgb(193, 193, 240);
  display: flex;
  /* justify-content: center; */
  gap: 3px;
  margin: 18px auto 0;
  overflow-x: auto;
  /* width: 400px; */
  width: 800px;
}

/* .linksDiv::-webkit-scrollbar {
  height: 5px;
  background-color: rgb(180, 180, 180);
}
.linksDiv::-webkit-scrollbar-button {
  display: none;
}

.linksDiv::-webkit-scrollbar-thumb {
  background-color: rgb(132, 0, 255);
} */

.linksDiv .menu {
  padding: 10px 20px;
  font-size: 1.7rem;
  white-space: nowrap;
  background-color: rgb(159, 159, 218);
  cursor: pointer;
}

.linksDiv .menu.active {
  background-color: rgb(58, 58, 58);
  color: white;
}

.linkDetails {
  background-color: rgb(255, 255, 255);
  padding: 20px 30px 40px;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.274);
  border-top: 1px solid rgb(112, 7, 153);
  border-radius: 0 0 20px 20px;
  width: 800px;
  margin: 0 auto;
}

.linkDetails h2 {
  margin-top: 0;
  font-size: 1.9rem;
  position: relative;
  display: inline-block;
}

.linkDetails h2::after {
  content: ' ';
  display: block;
  height: 2px;
  background-color: blue;
  margin: 2px 0 20px;
}

.linkDetails p {
  font-size: 1.8rem;
  color: blue;
}

.linkDetails p strong {
  background-color: aquamarine;
  border-radius: 30px;
  padding: 2px 3px 2px 7px;
  margin-right: 8px;
  line-height: 39px;
  color: teal;
}

p.myBio {
  max-width: 1000px;
  margin-top: -10px;
  color: blueviolet;
}

a.menu {
  margin-left: auto;
  color: #9a0000;
}
h2.aboutBioH2 {
  margin: 10px 0 -10px;
}

.socialIconsWrapper {
  font-size: 2.8rem;
  margin-left: 6px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.socialIconsWrapper a {
  transition: all 0.3s;
}

.socialIconsWrapper a.fb:hover {
  color: #1877f2;
}
.socialIconsWrapper a.insta:hover {
  color: #e4405f;
}
.socialIconsWrapper a.twitter:hover {
  color: #1da1f2;
}
.socialIconsWrapper a.linkedin:hover {
  color: #0a66c2;
}
.socialIconsWrapper a.email:hover {
  color: #bb001b;
}
