.planCard {
  padding: 50px 20px 63px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  position: relative;
  margin: 0 15px 30px;
  width: 20%;
  max-width: 500px;
  min-width: 250px;
  text-align: center;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.planName {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(66, 127, 219);
  color: aliceblue;
  font-size: 1.8rem;
  padding: 7px;
}

.planWrapper {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

.planPrice {
  font-size: 1.8rem;
  color: rgb(235, 75, 75);
  font-weight: 600;
}

.planCard ul {
  list-style: circle;
  text-align: left;
  font-size: 1.4rem;
  padding: 15px 20px;
  margin: 10px auto;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.planDuration {
  font-size: 1.7rem;
}

.planBtn {
  padding: 5px 10px;
  cursor: pointer;
  background-color: white;
  border: 2px solid royalblue;
  border-radius: 5px;
  margin-top: 9px;
  position: absolute;
  bottom: 17px;
  left: 25px;
  right: 25px;
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
}

.planBtn:hover {
  background-color: royalblue;
  color: white;
}

.planCard:hover {
  transform: scale(0.99);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.185);
}
