.about {
  padding-bottom: 90px;
  position: relative;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rangoliBg {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 268px;
  height: auto;
  top: 41px;
}
.rightAbout,
.leftAbout {
  width: 40%;
}
.aboutImg {
  width: 65%;
}

.divHeader {
  font-size: 3.1rem;
  font-weight: 400;
  margin-left: 18px;
}

.aboutHeader,
.serviceHeader {
  font-size: 4.2rem;
  line-height: 45px;
  margin: 0 0 10px;
}
.aboutHeader {
  color: blueviolet;
}

.aboutHeader::before {
  content: ' ';
  display: block;
  width: 128px;
  height: 3px;
  margin-bottom: 10px;
  border-radius: 30px;
  background-color: tomato;
}

.aboutPara,
.servicePara {
  font-size: 1.7rem;
  width: 90%;
}
