/* utilities */
/* .nameImgDiv {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 1rem;
} */

/* components */
.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'one one two five'
    'three four four five';
  padding-block: 2rem;
  /* width: min(95%, 70rem); */
  margin-inline: auto;
}

.testimonial {
  font-size: 1.6rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: hsl(0 0% 100%);
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217 19% 35% / 0.25);
}

.testimonial:nth-child(1) {
  grid-area: one;
  background-color: hsl(263 55% 52%);
  color: hsl(0 0% 100%);
}
.testimonial:nth-child(2) {
  grid-area: two;
  color: hsl(0 0% 100%);
  background-color: hsl(217 19% 35%);
}
.testimonial:nth-child(3) {
  grid-area: three;
}
.testimonial:nth-child(4) {
  grid-area: four;
  background-color: hsl(219 29% 14%);
  color: hsl(0 0% 100%);
}
.testimonial:nth-child(5) {
  grid-area: five;
}

/* @media screen and (min-width: 33em) {
  .testimonial-grid {
    grid-template-areas:
      'one one'
      'two three'
      'five five'
      'four four';
  }
} */
/* 
@media screen and (min-width: 38em) {
  .testimonial-grid {
    grid-template-areas:
      'one one'
      'two five'
      'three five'
      'four four';
  }
}

@media screen and (min-width: 54em) {
  .testimonial-grid {
    grid-template-areas:
      'one one two'
      'five five five'
      'three four four';
  }
} */

/* @media screen and (min-width: 75em) {
  .testimonial-grid {
    grid-template-areas:
      'one one two five'
      'three four four five';
  }
} */

.testimonial.quote {
  /* background-image: url('./images/bg-pattern-quotation.svg'); */
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.testimonial img {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
}

.testimonial .name {
  font-size: 1.63rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.testimonial > p {
  opacity: 0.7;
}

.testimonyHeader {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  color: blueviolet;
}

@media screen and (max-width: 500px) {
  .testimonial-grid {
    grid-template-areas:
      'one'
      'two '
      'three'
      'four'
      'five';
  }
  .testimonyHeader {
    font-size: 3rem;
    line-height: 35px;
    margin-bottom: 4px;
  }
  .testimony {
    padding: 35px 5px;
  }
  .sectionHeading {
    font-size: 3rem;
  }
}
