.otherUserCard .left {
  margin-right: 25px;
}
.otherUserCard .left img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.otherUserCard {
  display: flex;
  align-items: center;
  width: 46%;
  /* flex-basis: 200px; */
  background-color: rgb(227, 227, 240);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
}

.otherUserCard .right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.otherUserCard .right p,
.connectUserCard .right p {
  font-size: 2.3rem;
  font-weight: 600;
  /* margin-bottom: 7px; */
}
.otherUserCard .right button,
.otherUserCard .right a,
.connectUserCard .right button,
.connectUserCard .right a {
  padding: 7px 11px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.otherUserCard .right button,
.connectUserCard .right button {
  background-color: rgb(212, 12, 12);
  margin-right: 13px;
}
.otherUserCard .right a,
.connectUserCard .right a {
  background-color: rgb(5, 143, 46);
  font-size: 1.2rem;
}

.favBtnDiv {
  display: flex;
  flex-wrap: wrap;
}
